@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;


// Box.module.scss — only spacing and display, nothing else
.padding--sm   { padding: var(--space-4); }
.padding--md   { padding: var(--space-8); }
.padding--lg   { padding: var(--space-12); }

.paddingBlock--sm  { padding-block: var(--space-4); }
.paddingBlock--md  { padding-block: var(--space-8); }
.paddingBlock--lg  { padding-block: var(--space-16); }

.paddingInline--sm  { padding-inline: var(--space-4); }
.paddingInline--md  { padding-inline: var(--space-8); }
.paddingInline--lg  { padding-inline: var(--space-12); }

.display--flex        { display: flex; }
.display--grid        { display: grid; }
.display--inline-flex { display: inline-flex; }